/*公共样式*/
*{
	margin:0;
	padding:0;
}
body{
	background:#f0f1f1;
}
.clear{
	clear:both;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	color: #a6a6a6;
}
.top{
	border-top: 1px solid #3a3a3f;
	background:#323232;	
}
.inner{
	width:1100px;
	margin:0 auto;	
}
.left{
	position:relative;
}
.logo{
	position:absolute;
	top:-1px;
	z-index:5;
}
.logo img{
	width:100%;
}
.nav{
	float:left;
	line-height:48px;
	text-align:center;
	margin-left:210px;
}
.nav li{
	float:left;
}
.nav a{
	display:inline-block;
	font-size:12px;
	padding-left:18px;
	padding-right:18px;
	transition:all .5s linear;
}
.nav a:hover{
	background:#dd4012;
	color:#fff;
}
.nav .last{
	margin-right:0px;
}
.method{
	float:right;
}
.method a{
	float: left;
	font-size:12px;
	height:18px;
	margin-top: 15px;
	margin-right:18px;
}
.method .Phone{
	width:100px;
	margin-right:10px;
	line-height: 18px;
	background-image: url(images/phone.png);
	background-repeat: no-repeat;
	padding-left:25px;
}
 .method .Phone:hover{
	color: #dd4012;
	background-image: url(images/phoneh.png);
}
.method .Qq{
	width:18px;
	background-image: url(images/qq.png);
}
.method .Qq:hover{
	background-image: url(images/qqh.png);
}
.method .Weibo{
	width:23px;
	background-image: url(images/weibo.png);
}
.method .Weibo:hover{
	background-image: url(images/weiboh.png);
}
.method .Weixin{
	width:22px;
	background-image: url(images/weixin.png);
}
.method .Weixin:hover{
	background-image: url(images/weixinh.png);
}
.method .Email{
	width:20px;
	background-image: url(images/email.png);
	margin-right:0;
}
.method .Email:hover{
	background-image: url(images/emailh.png);
}
.banner{
	height:210px;
	background-repeat:no-repeat;
	background-position:50% 0;
	position:relative;
}
.banner-bottom{
	width:100%;
	height:24px;
	line-height: 24px;
	background-color: #000;
	opacity:0.5;
	position: absolute;
	bottom:0px;
}
.banner-bottom span{
	color: #a6a6a6;
	font-size:12px;
}
.banner-bottom a{
	font-size:12px;
}
.banner-bottom a:hover{
	color: #dd4012;
}
.order{
	text-align:center;
	margin-bottom:45px;
	margin-top:25px; 
}
.order a{
	display:inline-block;
	width:36px;
	height:36px;
	font-size:12px;
	color:#939393;
	background:#fff;
	line-height:36px;
	text-align:center;
}
.order a:hover{
	background:#dd4012;
	color:#fff;
}
.copyright{
	background:#323232;
}
.copyright-left{
	float:left;
	padding:10px 0px;
}
.copyright-right{
	float:right;
	margin-bottom:10px;
}
.copyright-right li{
	float:right;
	font-size:12px;
	margin-left:12px;
	margin-top:10px;
}
.copyright-right li:hover a{
	color:#dd4012;
	text-decoration:underline;
}
.copyright-right p{
	color:#666;
	margin-top:8px;
	font-size:12px;
}

/*私有样式1*/
.banner-1{
	background-image:url(images/banner-1.png);
}
.content{
	margin-top:20px;
}
.content-text a{
	display:inline-block;
	width:78px;
	height:26px;
	background:#fff;
	color:#939393;
	font-size:12px;
	line-height:26px;
	text-align:center;
}
.content-text a:hover{
	background:#636363;
	color:#fff;
}
.content-text .one{
	background:#636363;
	color:#fff;
}
.img1{
	width:260px;
	height:236px;
	margin-right:20px;
	background:#fff;
	margin-top:20px;
	float:left;
	overflow:hidden;
}
.img1:hover{
	cursor:pointer;
}
.img1 img{
	transition:all 0.3s;
}
.img1 img:hover{
	transform: scale(1.025,1.025);
}
.img1 .zhongwang{
	font-size:16px;
	margin-left:15px;
	color:#333;
}
.img1 .zhongwang:hover{
	text-decoration:underline;
}
.img1 p{
	font-size:12px;
	padding-top:8px;
	margin-top:8px;
	margin-right:10px;
	margin-left:15px;
	color:#aaa;
	border-top:1px solid #e9e9e9;
}
.noMargin{
	margin-right:0px;
}
/*私有样式2*/
.banner-2{
	background-image:url(images/banner-2.png);
}
.content2{
	margin-top:42px;
	margin-bottom:40px;
}
.content-left{
	position:relative;
	width:110px;
	padding-top:21px;
	text-align:center;
	float:left;
	border-top:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2;
	margin-right:40px;
	padding-bottom:91px;
}
.new img{
	position:absolute;
	top:0px;
	left:0px;
}
.month{	
	font-size:12px;
	color:#999999;
}
.day{
	color:#999999;
	font-size:41px;
}
.content-right{
	border-top:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2;
	float:right;
	width:949px;
	padding-top:20px;
	padding-bottom:53px;
}
.photo{
	float:left;
	width:220px;
	margin-top:5px;
	margin-right:24px;
	margin-left:10px;
	overflow:hidden;
}
.photo img{
	transition:all .5s;
}
.photo img:hover{
	transform:scale(1.05,1.05);
}	
.text{
	float:left;
	width:695px;
}
.text-0{
	font-size:18px;
	color:#dd4012;
}
.text-0:hover{
	text-decoration:underline;
}
.biaoqian{
	font-size:12px;
	color:#333;
	margin-top:15px;
	margin-bottom:10px;
}
.text-1{
	font-size:12px;
	color:#999;	
}
.text-1:hover{
	text-decoration:underline;
}
.text-2{
	font-size:12px;
	color:#666;
}
.text-2:hover{
	text-decoration:underline; 
}
/*私有样式3*/
.wrap{
	background-color:#fff;
	width:1001px;
	margin-top:96px;
	padding:44px 61px 65px 52px;
	overflow:hidden;
	margin-bottom:30px;
}
.wrap .title{
	font-size:18px;
	color:#333;
}
.wrap h3{	
	margin-bottom:15px;
}
.lablelist .lable{
	font-size:12px;
	color:#333;
	float:left;
}
.lablelist .xtitle{
	font-size:12px;
	color:#999;
	float:left;
	margin-left:22px;
}
.lablelist{
	overflow:hidden;
	border-bottom:1px solid #f0f1f1;
	margin-bottom:33px;
	padding-bottom:10px; 
}
.banner3{
	background-image:url(images/banner3.png);
	background-repeat:no-repeat;
	background-position:0 50%;
	background-size:cover;
	height:300px;
}
.textlist p{
	font-size:14px;
	color:#333;
	padding-top:28px;
}
.media{
	line-height:25px;
	text-indent:2em;
}
.textlist{
	border-bottom:1px solid #f0f1f1;
	padding-bottom:20px;
}
.about{
	font-size:12px;
	color:#333;
	margin-top:15px;
}
.shang{
	float:left;
}
.xia{
	float:right;
}
/*私有样式4*/
.banner4{
	background-image:url(images/banner4.png);
}
.culture{
	margin-top:30px;
	margin-bottom:30px;
}
.culturelist li{
	float:left;
	margin-right:12px;
	background-color:#cdcdcd;
}
.culturelist{
	border-bottom:1px solid #dd4012;
	overflow:hidden;
}
.culturelist a{
	color:#333;
	font-size:14px;
	padding:0px 22px;
	line-height:30px;
}
.culturelist .focus{
	background-color:#dd4012;
}
.culturelist .focus a{
	color:#cdcdcd;
}
.culturelist li:hover{
	background-color:#dd4012;
}
.culturelist li:hover a{
	color:#cdcdcd;
}
.intruduction{
	padding-top:20px;
}
.group a{
	color:#dd4012;
	font-size:20px;
}
.intruduction p{
	padding-top:10px;
	color:#333;
	font-size:14px;
}
.intruduction .profile{
	line-height:25px;
	text-indent:2em;
}
.excellent{
	background-image:url(images/exce.png);
	height:143px;
	background-repeat:no-repeat;
	background-position:0 50%;
	margin-top:30px;
}
/*私有样式5*/
.banner-5{
	background-image:url(images/banner-5.png);
	margin-bottom:30px;
}
.technology-left li{
	border-top:1px solid #1b1c1e;
	line-height:38px;
	background-color:#000;
} 
.technology-left li:hover{
	background-color:#dd4012;
}
.technology-left li:hover a{
	color:#fff;
}
.technology-left a{
	display:block;
	width:150px;
	padding-left:50px;
	color:#909090;
	font-size:14px;
}
.technology-left .focus{
	background-color:#dd4012;
}
.technology-left .focus a{
	color:#fff;
}
.technology-left{
	float:left;
}
.technology-right{
	float:right;
	width:866px;
}
.technology{
	margin-bottom:30px;
}
/*私有样式6*/
.company a{
	color:#dd4012;
	font-size:20px;
}
.company{
	margin:20px 0;
}
.culture-left{
	float:left;
}
.culture-right{
	float:right;
	width:514px;
	padding-top:47px;
}
.culture-right p{
	font-size:14px;
	color:#333;
	text-indent:2em;
	margin-top:15px;
	line-height:24px;
}
.culture-right .Chnyoo{
	color:#dd4013;
}
/*私有样式7*/
.partner a{
	color:#dd4012;
	font-size:20px;
}
.partner{
	margin:30px 0;
}
.imglist .photos{
	float:left;
	margin-right:22px;
	width:200px;
	height:100px;
	border:1px solid #cdcdcd;
	transition:all .5s;
}
.imglist .photos:hover{
	transform:scale(1.03,1.03);
	cursor:pointer;
	border:1px solid #dd4012;
	box-shadow:0 0 5px #dd4012;
}
.imglist{
	margin-bottom:20px;
}
.imglist .taohv{
	margin-right:0px;
}
.circle{
	width:96px;
	margin:0 auto;
	overflow:hidden;
}
.circle .orange{
	float:left;
	margin-right:30px;
}
 .circle .circlelast{
	margin-right:0px;
}
.circle a{
	background-color:#dd4012;
	display:block;
	width:12px;
	height:12px;
	border-radius:50%;
}
/*私有样式8*/
.corporate a{
	color:#dd4012;
	font-size:20px;
}
.corporate{
	margin:25px 0;
}
.business-left{
	float:left;
}
.corporate-img{
	margin-top:15px;
	padding-left:35px;
}
.business-right{
	float:right;
}
.selectout{
	margin-top:50px;
}
.service{
	margin-top:22px;
}
.selectout a{
	color:#dd4012;
	font-size:17px;
}
.table{
	color:#333;
	font-size:14px;
}
.table li{
	margin-top:14px;
	text-indent:2em;
}
/*私有样式9*/
.website{
	background-color:#fff;
	margin-top:90px;
	margin-bottom:30px;
}
.inner-content{
	width:990px;
	padding-top:50px;
	margin:0 auto;
}
.fashion a{
	font-size:24px;
	color:#333;
}
.fashion{
	margin-bottom:15px;
}
.wine{
	width:990px;
	height:40px;
	background-color:#f0f1f1;
	font-size:12px;
}
.wine a{
	color:#909090;
}
.art{
	height:445px;
	background-image:url(images/artmost.png);
	background-position:center 0;
	background-repeat:no-repeat;
	margin-top:20px;
	position:relative;
}
.after{
	position:absolute;
	top:200px;
	right:10px;
}
.art-text h3{
	font-size:14px;
	margin:20px 0;
}
.art-text p{
	font-size:14px;
	line-height:20px;
	color:#333;
}
.top-bottom{
	border-top:1px solid #eee;
	margin-top:30px;
	font-size:14px;
	color:#333;
	overflow:hidden;
	padding-top:15px;
	padding-bottom:30px;
}
.top-bottom .jichu{
	float:left;
}
.top-bottom .zhehe{
	float:right;
}
.sec-nav{
	position:absolute;
}